#k-means

In [ ]:
# k-means (k-平均法) - クラスタリングと呼ばれる手法に当たり,データを複数のクラスター(グループ)に分けて大まかな,データを複数のクラスター(グループ)に分けて大まかな特徴を捉える際に使用する

# 3ステップ
# 1,人間側からクラスター(グループ)の数を決める
# 2,ランダムに振られた点(重点)から近いものをクラスターとする
# 3,紐づいたクラスターとの距離を元に重心を移動させる

# コンビニの購買データを元にしてクラスリングの活用方法を理解する

In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#データセットの準備 - コンビニの3ヶ月の購買データ(履歴,no=顧客)
df = pd.read_csv("/content/convinience_store.csv")
df.head()

   No  弁当・麺類    飲料  おにぎり・サンドイッチ  スイーツ  カップスープ    サラダ
0   1  25350  3650         8945     0    4867   8945
1   2  24500     0            0  1827       0      0
2   3  23050  5750        11570     0    7667  11570
3   4  22850  4100        10145     0    5467  10145
4   5  22500     0            0     0       0      0

In [35]:
# 演算する時にidはいらないため,取り除く
# axis = 1, 縦方向に消す
x = df.drop("No",axis=1).values #sklearnで実装するためにnp.array型にする

In [36]:
x

array([[25350,  3650,  8945,     0,  4867,  8945],
       [24500,     0,     0,  1827,     0,     0],
       [23050,  5750, 11570,     0,  7667, 11570],
       [22850,  4100, 10145,     0,  5467, 10145],
       [22500,     0,     0,     0,     0,     0],
       [22350,  4888, 15070,     0,  6517, 15070],
       [22000,     0,     0,  1103,     0,     0],
       [21600,  7388,  2045,  2583,  9850,  2045],
       [21150,  5525,  1195,  1503,  7367,  1195],
       [19850,  2563,  7445,     0,  3417,  7445],
       [19000,  4188,     0,  5220,  5583,     0],
       [18150,  5025,  9945,   353,  6700,  9945],
       [17400,     0,  8795,  1003,     0,  8795],
       [16800,     0,     0,     0,     0,     0],
       [15750,     0,  9020,     0,     0,  9020],
       [15700,  4625,  8070,     0,  6167,  8070],
       [15350,     0, 14970,  1823,     0, 14970],
       [14550,  6000,  7920,  2147,  8000,  7920],
       [14500,  8775,     0,  1003, 11700,     0],
       [14000,     0, 10120,     0,     0, 10120],
       [12850,     0, 12695,  3537,     0, 12695],
       [10750,     0,     0,  3413,     0,     0],
       [11000,  4363, 11745,     0,  2908,  5873],
       [10800,     0, 14370,     0,     0,  7185],
       [10600,  4363,  6695,  1860,  2908,  3348],
       [10200,  5125,  7970,  1350,  3417,  3985],
       [10000,  7375,     0,  2360,  4917,     0],
       [ 9200,  7363,     0,  9420,  4908,     0],
       [ 9050,     0,  8395,     0,     0,  4198],
       [ 8650,  4650, 13395,  1580,  3100,  6698],
       [ 8600,     0,  3795,     0,     0,  1898],
       [ 8100,     0,  7745,  1140,     0,  3873],
       [ 8000,  4363,  8845,  6940,  2908,  4423],
       [ 7850,  6300,     0,     0,  4200,     0],
       [ 7850,  4250, 10570,     0,  2833,  5285],
       [ 7250,  4775,  7345,  3590,  3183,  3673],
       [ 6700,     0,  9370,  4180,     0,  4685],
       [ 6500,  5575,  7320,     0,  3717,  3660],
       [ 6450,     0,     0,     0,     0,     0],
       [ 6100,     0,  7695,  5930,     0,  3848],
       [    0,  4163,  8145,     0,  2775,  4073],
       [    0,  4013,  7945,     0,  2675,  3973],
       [    0,  2900,  3095,  5310,  1933,  1548],
       [    0,  4163,  9620,  2050,  2775,  4810],
       [    0,  2963,  6570,     0,  1975,  3285],
       [    0,  3850,  7920,     0,  2567,  3960],
       [    0,     0,  6645,  3730,     0,  3323],
       [    0,     0, 12495,     0,     0,  6248],
       [    0,  5500,  9470,  6590,  3667,  4735],
       [    0,  3875, 10895,     0,  2583,  5448],
       [    0,  5250, 12220,     0,  3500,  6110],
       [    0,  4525, 12695,  7940,  3017,  6348],
       [    0,  3963, 10695,     0,  2642,  5348],
       [41850, 12850,     0,     0,  2142,     0],
       [41450,  6500,  2720,   173,  1083,  1360],
       [41400,  5575,     0,   890,   929,     0],
       [39100,     0,  4320,     0,     0,  2160],
       [37900,  7638,     0,   747,  1273,     0],
       [34850,  7150,  1195,     0,  1192,   598],
       [33900,  6725,     0,  2253,  1121,     0],
       [33800, 11013,     0,     0,  1835,     0],
       [31350,  2663,  2945,  1763,   444,  1473],
       [28600,  5250,  2720,  2426,   875,  1360],
       [27450,  8525,     0,     0,  1421,     0],
       [25650,  8963,  4320,  3519,  1494,  2160],
       [25600,  9725,  2695,   144,  1621,  1348],
       [25400,  5988,     0,   581,   998,     0],
       [25100,     0,  3745,  2911,     0,  1873],
       [24700,  8075,     0,  1451,  1346,     0],
       [22700, 11563,  3270,  1410,  1927,  1635]])

In [37]:
from sklearn.cluster import KMeans

In [38]:
# k-平均法ではあらかじめ分割するクラスター数を決めておく必要がある。クラスター数を決定するハイパーパラメータはp_clustersになります。
# クラスター数の決定はドメイン知識を活用をする

#モデルの定義
kmeans = KMeans(n_clusters=3,random_state=0)

In [39]:
#　モデルの学習 - モデルの学習ではそれぞれのクラスターの中心座標を算出し,保持する。
# 今回取り扱ったデータセットの次元数が６次元、そしてクラスターの数を3としていたため,3行6列の値を確認することができる　
kmeans.fit(x)

KMeans(n_clusters=3, random_state=0)

In [40]:
#各クラスターの中身座標を調べる
print(kmeans.cluster_centers_.shape)
print(kmeans.cluster_centers_)

(3, 6)
[[ 5043.5483871   3486.41935484  7017.74193548  2206.
   2512.90322581  3509.12903226]
 [28681.25        5637.66666667  1298.75        1271.
   1770.875        716.95833333]
 [17266.66666667  2730.93333333 10721.66666667   590.86666667
   3447.33333333  9851.2       ]]

In [41]:
#推論
cluster = kmeans.predict(x)
cluster

# 0,1,2の結果はクラスター数(３分類)
# この結果だけではどのようにクラスタリングされているの判断が難しいため、結果の情報を元のデータフレームに追加する

array([2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 0, 2, 2, 0,
       2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1], dtype=int32)

In [42]:
 # データフレームに追加
 df_cluster = df.copy()

 #新しくラベルを追加する
 df_cluster["cluster"] = cluster

In [43]:
df_cluster.head()

   No  弁当・麺類    飲料  おにぎり・サンドイッチ  スイーツ  カップスープ    サラダ  cluster
0   1  25350  3650         8945     0    4867   8945        2
1   2  24500     0            0  1827       0      0        1
2   3  23050  5750        11570     0    7667  11570        2
3   4  22850  4100        10145     0    5467  10145        2
4   5  22500     0            0     0       0      0        1

In [44]:
# クラスター結果の考察
# クラスタリングした結果,顧客を3つのクラスターに分けることができた。
# だが、教師あり学習と異なり明確な答えが存在しないため,その予測結果がどのようなもので、どのように活用する関しては人間側が考慮する必要がある

#空のデータフレームを作成する
df_results = pd.DataFrame()

#クラスターごとに平均値を算出してその値を作成した空のデータフレームに追加する
df_cluster["cluster"] == 0

#クラスターが0のもののみを抽出する
df_cluster[df_cluster["cluster"] == 0]

    No  弁当・麺類    飲料  おにぎり・サンドイッチ  スイーツ  カップスープ   サラダ  cluster
18  19  14500  8775            0  1003   11700     0        0
21  22  10750     0            0  3413       0     0        0
24  25  10600  4363         6695  1860    2908  3348        0
25  26  10200  5125         7970  1350    3417  3985        0
26  27  10000  7375            0  2360    4917     0        0
27  28   9200  7363            0  9420    4908     0        0
28  29   9050     0         8395     0       0  4198        0
29  30   8650  4650        13395  1580    3100  6698        0
30  31   8600     0         3795     0       0  1898        0
31  32   8100     0         7745  1140       0  3873        0
32  33   8000  4363         8845  6940    2908  4423        0
33  34   7850  6300            0     0    4200     0        0
34  35   7850  4250        10570     0    2833  5285        0
35  36   7250  4775         7345  3590    3183  3673        0
36  37   6700     0         9370  4180       0  4685        0
37  38   6500  5575         7320     0    3717  3660        0
38  39   6450     0            0     0       0     0        0
39  40   6100     0         7695  5930       0  3848        0
40  41      0  4163         8145     0    2775  4073        0
41  42      0  4013         7945     0    2675  3973        0
42  43      0  2900         3095  5310    1933  1548        0
43  44      0  4163         9620  2050    2775  4810        0
44  45      0  2963         6570     0    1975  3285        0
45  46      0  3850         7920     0    2567  3960        0
46  47      0     0         6645  3730       0  3323        0
47  48      0     0        12495     0       0  6248        0
48  49      0  5500         9470  6590    3667  4735        0
49  50      0  3875        10895     0    2583  5448        0
50  51      0  5250        12220     0    3500  6110        0
51  52      0  4525        12695  7940    3017  6348        0
52  53      0  3963        10695     0    2642  5348        0

In [45]:
#各値の平均を確認できる
df_cluster[df_cluster["cluster"] == 0].mean

<bound method DataFrame.mean of     No  弁当・麺類    飲料  おにぎり・サンドイッチ  スイーツ  カップスープ   サラダ  cluster
18  19  14500  8775            0  1003   11700     0        0
21  22  10750     0            0  3413       0     0        0
24  25  10600  4363         6695  1860    2908  3348        0
25  26  10200  5125         7970  1350    3417  3985        0
26  27  10000  7375            0  2360    4917     0        0
27  28   9200  7363            0  9420    4908     0        0
28  29   9050     0         8395     0       0  4198        0
29  30   8650  4650        13395  1580    3100  6698        0
30  31   8600     0         3795     0       0  1898        0
31  32   8100     0         7745  1140       0  3873        0
32  33   8000  4363         8845  6940    2908  4423        0
33  34   7850  6300            0     0    4200     0        0
34  35   7850  4250        10570     0    2833  5285        0
35  36   7250  4775         7345  3590    3183  3673        0
36  37   6700     0         9370  4180       0  4685        0
37  38   6500  5575         7320     0    3717  3660        0
38  39   6450     0            0     0       0     0        0
39  40   6100     0         7695  5930       0  3848        0
40  41      0  4163         8145     0    2775  4073        0
41  42      0  4013         7945     0    2675  3973        0
42  43      0  2900         3095  5310    1933  1548        0
43  44      0  4163         9620  2050    2775  4810        0
44  45      0  2963         6570     0    1975  3285        0
45  46      0  3850         7920     0    2567  3960        0
46  47      0     0         6645  3730       0  3323        0
47  48      0     0        12495     0       0  6248        0
48  49      0  5500         9470  6590    3667  4735        0
49  50      0  3875        10895     0    2583  5448        0
50  51      0  5250        12220     0    3500  6110        0
51  52      0  4525        12695  7940    3017  6348        0
52  53      0  3963        10695     0    2642  5348        0>

In [46]:
#各値の平均を確認できる(クラウスー0の平均値)
df_cluster[df_cluster["cluster"] == 0].mean().tolist()

[37.806451612903224,
 5043.548387096775,
 3486.4193548387098,
 7017.741935483871,
 2206.0,
 2512.9032258064517,
 3509.1290322580644,
 0.0]

In [47]:
#各値の平均を確認できる(クラウスー1の平均値)
df_cluster[df_cluster["cluster"] == 1].mean().tolist()

[46.25,
 28681.25,
 5637.666666666667,
 1298.75,
 1271.0,
 1770.875,
 716.9583333333334,
 1.0]

In [48]:
#各値の平均を確認できる(クラウスー2の平均値)
df_cluster[df_cluster["cluster"] == 2].mean().tolist()

[13.533333333333333,
 17266.666666666668,
 2730.9333333333334,
 10721.666666666666,
 590.8666666666667,
 3447.3333333333335,
 9851.2,
 2.0]

In [49]:
# df_resultsの中に上記を追加する
df_results ["cluster 0"] = df_cluster[df_cluster["cluster"] == 0].mean().tolist()
df_results ["cluster 1"] = df_cluster[df_cluster["cluster"] == 1].mean().tolist()
df_results ["cluster 2"] =df_cluster[df_cluster["cluster"] == 2].mean().tolist()

In [50]:
df_results

     cluster 0     cluster 1     cluster 2
0    37.806452     46.250000     13.533333
1  5043.548387  28681.250000  17266.666667
2  3486.419355   5637.666667   2730.933333
3  7017.741935   1298.750000  10721.666667
4  2206.000000   1271.000000    590.866667
5  2512.903226   1770.875000   3447.333333
6  3509.129032    716.958333   9851.200000
7     0.000000      1.000000      2.000000

In [51]:
# 行に列名を当てはめる
# 転置をして行が列になるようにする

# indexに列名を追加する
df_results = df_results.set_index(df_cluster.columns) #上書きする
df_results

               cluster 0     cluster 1     cluster 2
No             37.806452     46.250000     13.533333
弁当・麺類        5043.548387  28681.250000  17266.666667
飲料           3486.419355   5637.666667   2730.933333
おにぎり・サンドイッチ  7017.741935   1298.750000  10721.666667
スイーツ         2206.000000   1271.000000    590.866667
カップスープ       2512.903226   1770.875000   3447.333333
サラダ          3509.129032    716.958333   9851.200000
cluster         0.000000      1.000000      2.000000

In [52]:
# Noとclusterを削ぎ落とす
df_results = df_results.drop(["No","cluster"]).T
df_results

                  弁当・麺類           飲料  ...       カップスープ          サラダ
cluster 0   5043.548387  3486.419355  ...  2512.903226  3509.129032
cluster 1  28681.250000  5637.666667  ...  1770.875000   716.958333
cluster 2  17266.666667  2730.933333  ...  3447.333333  9851.200000

[3 rows x 6 columns]

In [52]:
# 考察
# cluster 0 - 全体的に購入金額が少ないがスイーツが高い
# cluster 1 - ランチついでに食事したり飲料を買ったりする
# cluster 2 - 弁当ではなく他の食品を選ぶ人が多い